* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navs {
  display: flex;
  justify-content: space-around;
  padding: 12px;
  height: 90px;
}

img {
  width: 180px;
  height: auto;
}

.nav-links {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.nav-links > ul {
  display: flex;
  gap: 30px;
}

.nav-links > ul > li {
  list-style-type: none;
}

.nav-links ul a {
  text-decoration: none;
  color: black;
}

.rq-btn {
  background: linear-gradient(to right, rgb(58, 58, 214), rgb(15, 4, 29));
  border-radius: 8px;
  color: white;
  text-decoration: none;
  padding: 8px;
}

.arrow-down {
  padding-left: 2px;
}

.sect-1 {
  position: relative;
  color: white;
  height: 100vh;
  text-align: center;
}

.sect-1 video {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.sect-1 .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Service hovering section */
.sv {
  position: relative;
  border: 1px solid red;
}

.servs {
  border: 1px solid blue;
  background-color: white;
  border-radius: 15px;
  position: absolute;
  z-index: 10;
  display: none;
  top: 20px;
  color: black;
  width: 750px;
  left: -250px;
}

.logo-sds {
  display: flex;
  gap: 15px;
  padding: 8px;
}

.servs img {
  width: 40px;
}

.servs-down {
  display: flex;
  gap: 5px;
  padding: 12px;
}

.column {
  display: flex;
  flex-direction: column;
}

.sv:hover > .servs,
.servs:hover {
  display: block;
}

.column > li {
  margin-top: 10px;
  list-style-type: disc;
}

.column > li::marker {
  color: purple;
  width: 10px;
}

.dot {
  color: blue;
}
