* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navs {
  display: flex;
  justify-content: space-around;
  padding: 12px;
  height: 80px;
}

img {
  width: 180px;
  height: auto;
}

.nav-links {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.nav-links > ul {
  display: flex;
  gap: 30px;
}

.nav-links > ul > li {
  list-style-type: none;
}

.nav-links ul a {
  text-decoration: none;
  color: black;
}

.rq-btn {
  background: linear-gradient(to right, rgb(42, 54, 218), rgb(164, 11, 202));
  border-radius: 8px;
  color: white;
  text-decoration: none;
  padding: 12px;
}

.arrow-down {
  padding-left: 2px;
}

.sect-1 {
  position: relative;
  color: white;
  height: 90vh;
  /* text-align: center; */
}

.sect-1 video {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.sect-1 .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.sect-1 .content h1 {
  font-family: sans-serif;
  font-size: 40px;
  padding: 12px 0;
  line-height: 60px;
}

.sect-1 .content p {
  font-family: sans-serif;
  padding: 12px 0;
  font-size: 18px;
}

.sect-1 .content button {
  font-family: sans-serif;
  padding: 16px;
  margin: 8px 0;
  border-radius: 8px;
  font-size: 16px;
  background: linear-gradient(to right, rgb(42, 54, 218), rgb(164, 11, 202));
  border: none;
  color: white;
}

.sect-1 .content button:hover {
  background: linear-gradient(to left, rgb(42, 54, 218), rgb(164, 11, 202));
}

.custom-hr {
  width: 40%;
  height: 4px;
  color: white;
  background-color: white;
}
/* Service hovering section */
.sv {
  position: relative;
  /* border: 1px solid red; */
}

.servs {
  border: 1px solid blue;
  background-color: white;
  border-radius: 15px;
  position: absolute;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  top: 20px;
  color: black;
  width: 750px;
  left: -250px;
}

.logo-sds {
  display: flex;
  gap: 15px;
  padding: 8px;
}

.servs img {
  width: 40px;
}

.servs-down {
  display: flex;
  gap: 42px;
  padding: 12px;
}

.column {
  display: flex;
  flex-direction: column;
}

.sv:hover > .servs,
.servs:hover {
  opacity: 1;
  visibility: visible;
  top: 50px;
  transition: 0.4s all;
}

.column > li {
  margin-top: 10px;
  list-style-type: disc;
  font-size: 18px;
}

.column > li:hover {
  color: rgb(100, 14, 100);
  margin-left: 20px;
  transition: ease 1s;
}

.column > li::marker {
  color: purple;
}

.dot {
  color: purple;
}

button {
  cursor: pointer;
}

.servs-info > p {
  padding-top: 8px;
}

/* About us */
.abt {
  position: relative;
}

.abt-us {
  position: absolute;
  top: 20px;
  left: -190px;
  background-color: white;
  padding: 12px;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  width: 500px;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
}

.abt-info {
  padding: 12px;
}

.abt-info > p {
  padding: 10px 0;
}

.abt-pts {
  padding: 12px;
}

.abt-pts ul li {
  list-style-type: none;
  padding: 10px;
}

.abt-pts ul li a:hover {
  color: purple;
}

.abt:hover > .abt-us,
.abt-us:hover {
  opacity: 1;
  visibility: visible;
  top: 50px;
  transition: 0.4s all;
}

/* Carrers */
.career {
  position: relative;
}

.car {
  position: absolute;
  top: 20px;
  right: -60px;
  background-color: white;
  padding: 12px;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  width: 600px;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
}

.car-info {
  padding: 12px;
}

.car-info > p {
  padding: 10px 0;
}

.car-pts {
  padding: 12px;
}

.car-pts ul li {
  list-style-type: none;
  padding: 10px;
}

.car-pts ul li a:hover {
  color: purple;
}

.career:hover > .car,
.car:hover {
  opacity: 1;
  visibility: visible;
  top: 50px;
  transition: 0.4s all;
}
