* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navs {
  display: flex;
  justify-content: space-around;
  padding: 12px;
  height: 80px;
}

img {
  width: 180px;
  height: auto;
}

.nav-links {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.nav-links > ul {
  display: flex;
  gap: 30px;
}

.nav-links > ul > li {
  list-style-type: none;
}

.nav-links ul a {
  text-decoration: none;
  color: black;
}

.rq-btn {
  background: linear-gradient(to right, rgb(42, 54, 218), rgb(164, 11, 202));
  border-radius: 8px;
  color: white;
  text-decoration: none;
  padding: 12px;
}

.arrow-down {
  padding-left: 2px;
}

.sect-1 {
  position: relative;
  color: white;
  height: 90vh;
  /* text-align: center; */
}

.sect-1 video {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.sect-1 .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.sect-1 .content h1 {
  font-weight: bolder;
  font-size: 40px;
  padding: 12px 0;
  line-height: 60px;
  font-weight: bolder;
}

.sect-1 .content p {
  padding: 12px 0;
  font-size: 18px;
}

.sect-1 .content button {
  padding: 16px;
  margin: 8px 0;
  border-radius: 8px;
  font-size: 16px;
  background: linear-gradient(to right, rgb(42, 54, 218), rgb(164, 11, 202));
  border: none;
  color: white;
}

.sect-1 .content button:hover {
  background: linear-gradient(to left, rgb(42, 54, 218), rgb(164, 11, 202));
}

.custom-hr {
  width: 40%;
  height: 4px;
  color: white;
  background-color: white;
}
/* Service hovering section */
.sv {
  position: relative;
  /* border: 1px solid red; */
}

.servs {
  border: 1px solid blue;
  background-color: white;
  border-radius: 15px;
  position: absolute;
  z-index: 10;
  display: none;
  top: 20px;
  color: black;
  width: 750px;
  left: -250px;
}

.logo-sds {
  display: flex;
  gap: 15px;
  padding: 8px;
}

.servs img {
  width: 40px;
}

.servs-down {
  display: flex;
  gap: 5px;
  padding: 12px;
}

.column {
  display: flex;
  flex-direction: column;
}

.sv:hover > .servs,
.servs:hover {
  display: block;
}

.column > li {
  margin-top: 10px;
  list-style-type: disc;
}

.column > li::marker {
  color: purple;
  width: 10px;
}

.dot {
  color: blue;
}

button {
  cursor: pointer;
}
